* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


.container-footer{
    width: 100%;
    background-color:#212429;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav{
    font-size: 16px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
}

nav ul li a{
    color: #212429;
    text-decoration: none;

}

nav ul li a:hover{
    color: rgb(241, 11, 11);
    transition: .2s;
}
 
nav img{
    padding-top: 0;
    padding-bottom: 0;
    
}

img{
    padding: 32px 32px;
}

h1{
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
}

.flexbox-container{
    padding: 32px;
    margin: 32px;
}

.flexbox-container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap 
}

.flexbox-items{
    display: flex;
    justify-items:center;

}


footer{
    background-color:#212429;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 32px;

}

footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
}

footer ul li a{
    color: #ffff;
    text-decoration: none;
}

footer img{
    padding: 0;
}