@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    background-color: #ffff;
    justify-content:space-between
}

.navbar {
    align-items: center;
}
.navbar a {
    color: #212429;
    text-decoration: none;
}

.navbar a{
padding: 16px;
}

 .navbar img {
    padding: 32px;
 }


h1{
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 0px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.content {
    background-color: white;
    padding: 32px;
    font-size: 16px;
    align-items:flex-end;
}

.box {
    width: 280px;
}

.dx {
    float: right;
}

.sx {
    float:left;
}
.box-1 {
    width: 280px;
}
.dx-1 {
    float: right;
}
.sx-1 {
    float:left;
}

.box-2 {
    width: 280px;
}

.dx-2 {
    float: right;
}

.sx-2 {
    float:left;
}

.box-3 {
    width: 280px;
}

.dx-3 {
    float: right;
}

.sx-3 {
    float:left;
}

.box-4 {
    width: 280px;
}

.dx-4 {
    float: right;
}

.sx-4 {
    float:left;
}

.box-5 {
    width: 280px;
}

.dx-5 {
    float: right;
}

.sx-5 {
    float:left;
}
.footerbar {
    display: flex;
    background-color:#212429;
    justify-content:space-between;
}

.footerbar {
    align-items:center;

}

.footerbar a {
    color: #ffff;
    text-decoration: none;
    
}

.footerbar a{
padding: 32px;
}

.footerbar img {
    padding: 32px;
    
}
