@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    background-color: #ffff;
    justify-content:space-between
}

.navbar {
    align-items: center;
}
.navbar a {
    color: #212429;
    text-decoration: none;
}

.navbar a{
padding: 16px;
}

 .navbar img {
    padding: 32px;
 }


h1{
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 0px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.content p{
    padding: 0px 32px 32px
}


.footerbar {
    display: flex;
    background-color:#212429;
    justify-content:space-between
}

.footerbar {
    align-items:center;

}

.footerbar a {
    color: #ffff;
    text-decoration: none;
    
}

.footerbar a{
padding: 32px;
}

.footerbar img {
    padding: 32px;
}
